.content{
    list-style: none;
    padding: 12px;
    margin: 10px;
    text-align: left;
}

.far{
    color: #3F87F5;
}
.card-hot {
    background-color:#3F87F5; 
}
.card-body2{
    background-color:#3F87F5;
    color: white;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    bottom: 30px;
}
.package-btn{
    text-decoration: none;
    background-color:#eee8e8;
    color:#3F87F5;
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
}

.footer{
    width: 160px;
    height: 60px;
    margin: auto;
}